@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import './partials/Keframes';

$color-default: rgb(0,0,0);
$color-primary: white;/**/
$color-secondary: rgb(5, 116, 187);/**/
$color-third: rgb(67, 70, 67);
* {
  --color-primary: white;/**/
  --color-secondary: rgb(5, 116, 187);/**/
  --color-third: rgb(67, 70, 67);
  --color-default: rgb(0,0,0);
  
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 0 0 $color-default;

}
*:focus{
  outline: none;
  box-shadow:0 0 10px -5px red ; 
  //   0 0 0 0px rgba(255,255,255,1);
  // animation: focusStyle 500ms infinite ;
  // // border: red solid;
  // // transform: scale(1.1);

  // border-radius: 8px;
  
  /* width: max-content; */
}
img{
  width: fit-content;
  height: fit-content;
}
.body{height:100%}

// .testCo{
//   position: fixed;
//   padding: 10px;
//   bottom: 0;left: 0;right: 0;z-index: 999;
//   background: white;
// }
h4 {
  font-size: 2.5rem;
}
p{
  font-size: 1.03rem;
}
html,body {
  background-color: var(--color-primary);
}
main {
  position: relative;
}
a {
	text-decoration: none;
  color: var(--color-primary);
}
textarea {
  resize: none;
}
blockquote {
  quotes: none;
}
.little-text {
  font-weight: 300;
}
.App {
  height: 100%;
  width: 100%;
  text-align: center;
  padding:150px 0 68px;
}


.App-link {
  color: #61dafb;
}

@media screen and(min-width:850px) {
  .App {
    padding:0 0 66px;
  }
}