@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
.component-developpeur {
    position: relative;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: '. img . '
                        '. name .'
                        '. text .';
    color: var(--color-default);
    margin: 137px 0;
}
.component-developpeur img {
	border-radius: 50%;
	background-color: var(--color-secondary);
	box-shadow: 0 0 10px -6px var(--color-secondary);
}

.component-developpeur .img-profil {
    background: var(--color-secondary);
    margin: auto;
    grid-area: img;
    border-radius: 50%;
}
.component-developpeur h1{
    grid-area: name;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 3.5rem;
    color: var(--color-secondary);
    &>.nom{
        text-transform: uppercase;
    }
    &>.prenom{
        font-weight: 500;
        text-transform: capitalize;
    }
}
.component-developpeur p{
    grid-area: text;
    font-size: 1.5rem;
}
@media screen and (min-width:500px) {
    .component-developpeur h4 {
        font-size: 4rem;
    }
   
}