.title-contact {
    margin: 55px auto;

}
.form-contact {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    border-radius:0 0 10px -5px var(--color-third);
    min-width: 65%;
    width: max-content;
    padding: 30px;
    margin: 30px auto;
    &>div>div>input{
        border: transparent;
        border-radius: 30px;
    }
}
.meta-contact{
    display: grid;
    height: 80%;
    align-items: center;
    grid-gap: 1.2rem;

}
.meta-elt {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 1.2rem;
}
.input-contact, .message {
    font-size: 1.12rem;
}
.input-contact {
    height: 34px;
    padding: 5px;
}
.message-contact {
    display: grid;
    grid-gap: 1.2rem;
    
    & > textarea{
        height: 350px;
        padding: 10px 5px;
        border-radius: 12px;
    }
}
button.btn-form-about {
    
    width: 250px;
    margin: auto;
    border-radius: 40px;
    font-size: 1.35rem;
    background: linear-gradient(90deg, var(--color-secondary), transparent),linear-gradient(120deg, var(--color-secondary), transparent);
    color: white;
    cursor: pointer;
    padding: 10px 5px;
    border: transparent;
    transition:300ms ease-in;
    box-shadow: 1px 0px 4px 0 black;
    &:hover{
        background: linear-gradient(90deg,  transparent, #0574bb),linear-gradient(120deg,  transparent, #0574bb);
        border: red;
        box-shadow: -1px 0px 4px 0 black;
    }
}
.valid, .not-valid{
    color: white;
}
.valid{
    background-color: #10b110c9;
}
.not-valid{
    background-color: #fb1d1dc2;
    &::placeholder{
        color: white;
    }
}
// NETWORK

.link-network{
    display: grid;
    grid-template-areas: " title title title "
                        " . logo1 . "
                         ". logo2 ."
                         ". logo3 ."
                        // "template template template"
                        ; 
    background-color: var(--color-secondary);
    grid-template-columns: .5fr 1fr .5fr;
    grid-gap: 2rem;
    & > .link-network-h2 {
        grid-area: title;
        color: white;
        font-size: 2rem;
        margin-top: 26px;
    }
    & > a {
        margin: auto;
        width: fit-content;
    }
    & > img {
        grid-area: template;
    }
    &> a:nth-child(2){
        grid-area: logo1;
    }&> a:nth-child(3){
        grid-area: logo2;
        &>img{
            background-color: var(--color-primary);
        }
    }&> a:nth-child(4){
        grid-area: logo3;
    }
}

.logo-network {
    width: 80px;
    padding: 2px;
    
}

@media screen and (min-width:850px) {
    .form-contact {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .message-contact {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    button.btn-form-about {
        grid-column-end: 3;
        grid-column-start: 1;
    }
    .meta-elt {
        grid-template-columns: .8fr 1.2fr;
    }
    .link-network {
        grid-template-areas: ". title title title ."
                            ".  logo1 logo2 logo3 .";
        background-color: var(--color-secondary);
        grid-template-columns: 1fr .2fr .2fr .2fr 1fr;
        grid-template-rows: .5fr 1fr;
        padding-bottom: 39px;
    }
}