/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.header-principal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    border-bottom: solid var(--color-third);
    background: var(--color-secondary);
}
.header-inside {
    z-index: 5;
    & a{
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
}
.logo-header {
    width: 20vh;
    border-radius: 300px;
}
@media screen and (min-width:850px) {
    .header-principal{
        border: none;
        position: relative;
    }
}