/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

h1.mentions-legales--title {
    padding: 30px 0;
    text-transform: uppercase;
    color: var(--color-default);
}
.mentions-legales-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 20px 10%;
    grid-gap: 1rem;
}
.mentions-legales--item{
    padding: 30px 20px;
    -webkit-box-shadow: 0 0 10px -6px black;
            box-shadow: 0 0 10px -6px black;
}
.title-ml {
    text-transform: uppercase;
    color: var(--color-secondary);
}
.editeur-contact {
    text-align: left;
}
.item-inside {
    padding: 40px 0 0;

}
.item-inside-loi {
    padding: 80px 0 0;
}
.link-ml{
    color:var(--color-secondary)
}
p.tva.info-contact.info {
    padding: 20px;
    text-align: center;
}
@media screen and (min-width:850px) {
    .mentions-legales-content {
        -ms-grid-columns: 1fr 2rem 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem 2rem;

    }
    .mentions-legales--conception{
        -ms-grid-column: 1;
            grid-column-start: 1;
        -ms-grid-column-span: 2;
        grid-column-end: 3;
    }
}