.post-project-form-content {
  background: var(--color-secondary);
  color: var(--color-primary);
  padding: 30px 8px 15px;
  border-radius: 30px;
  margin: 0 25px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .5fr auto .5fr;
      grid-template-rows: .5fr auto .5fr;
  grid-gap: 1rem;
  -webkit-box-shadow: 0 0 15px -6px black;
          box-shadow: 0 0 15px -6px black;
}

.header-project {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-project button {
  position: absolute;
  overflow: hidden;
  color: var(--color-primary);
  font-weight: 900;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 8px;
  top: -11px;
  right: 0px;
  background-color: transparent;
  -webkit-transition: ease-in 300ms;
  transition: ease-in 300ms;
}

.header-project button:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.header-project button:focus span {
  display: none;
}

.header-project button span {
  position: absolute;
}

.header-project button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#fff));
  background: linear-gradient(90deg, transparent, #fff);
  -webkit-animation: 1s showBtnStyle1 linear infinite;
          animation: 1s showBtnStyle1 linear infinite;
}

.header-project button span:nth-child(2) {
  top: -100%;
  right: 0%;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#fff));
  background: linear-gradient(180deg, transparent, #fff);
  -webkit-animation: 1s showBtnStyle2 linear infinite;
          animation: 1s showBtnStyle2 linear infinite;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.header-project button span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#fff));
  background: linear-gradient(270deg, transparent, #fff);
  -webkit-animation: 1s showBtnStyle3 linear infinite;
          animation: 1s showBtnStyle3 linear infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.header-project button span:nth-child(4) {
  bottom: -100%;
  left: 0%;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#fff));
  background: linear-gradient(360deg, transparent, #fff);
  -webkit-animation: 1s showBtnStyle4 linear infinite;
          animation: 1s showBtnStyle4 linear infinite;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

.post-project-form, .content-description-project {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-control-label-desc {
  padding: 0 0 1rem 0;
}

.form-control {
  border: none;
  padding: .6rem;
  font-size: 1.2rem;
}

.post-project-form {
  grid-gap: 1rem;
  min-height: 382px;
}

img.preview-img-project {
  max-width: 200px;
  margin: auto;
  background-color: var(--color-primary);
}

.description-new-project {
  height: 125px;
}

.content-max-char {
  z-index: 2;
  position: absolute;
  right: 30px;
  bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.count-chars {
  color: green !important;
}

.count-chars-max {
  color: red !important;
}

.const-max-chars {
  color: var(--color-third);
}

.btn-submit-border, .submit-project {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  border-radius: 20px;
}

.submit-project {
  font-size: 1.5rem;
  font-weight: 900;
  padding: 1px;
  -webkit-box-shadow: 0 0 10px -6px black;
          box-shadow: 0 0 10px -6px black;
  border: none;
  color: var(--color-primary);
  background-color: transparent;
  -webkit-transition: ease-in 300ms;
  transition: ease-in 300ms;
}

.submit-project:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.submit-project:hover + .inside-btn {
  background-color: #fff;
}

.submit-project:focus {
  color: var(--color-secondary);
  text-shadow: 9px 4px 5px white;
  -webkit-animation: 320ms btnFocus ease-in infinite;
          animation: 320ms btnFocus ease-in infinite;
}

.inside-btn {
  padding: 15px;
  border-radius: 20px;
}

.footer-project {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 400px) {
  #pannel-admin-post {
    display: none;
  }
}

@media screen and (min-width: 850px) {
  .post-project-form-content {
    padding: 30px 80px 15px;
    margin: 0px 10% 30px;
  }
}
/*# sourceMappingURL=PostProject.css.map */