@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap');
.component-present{
    margin: 40px auto;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: solid var(--color-secondary) 2px;
    border-bottom: solid var(--color-secondary) 2px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
   
}
.component-present-inside{
    margin: auto;
    padding: 30px 0;
}
.component-present-inside > h4{
    padding: 0 0px 30px ;
}
.component-present-inside > h4{
    color: var(--color-secondary);
    font-size: 2rem;   
}
.component-present-inside > p {
    font-size: 1.2rem;
}

.image-art-1{
    position: relative;
    transition: 300ms ease-in-out;
    overflow: hidden;
    // padding: 148px 0px;
    //min-width: 826px;
    margin: auto 0px;
    background: url('../images/static/espace.png') no-repeat center;
    
    &:hover {
        box-shadow: 0px 0px 12px -2px var(--color-secondary);
    }
  

}



.img-art-1-content {
    transition: 300ms ease-in-out;

    margin: auto;
    top: 0;
    left: 0;
    right: 00px;
    bottom: 0;
    /* width: fit-content; */
    /* background: aqua; */
    padding: 19px;
    backdrop-filter: blur(2px);
    &:hover{
        box-shadow: 0 0 50px 2px var(--color-secondary);
    }

}
img.univers-image {
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 0 10px -6px WHITE;
}
.question{
    color: var(--color-secondary);
    padding: 5px 0;
    font-size: x-large;
}
.question,.to-bold{
    font-weight: 900;
}
.block-quote-main {
    background: url("../images/static/lua.png") center fixed;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: darkgrey;
    padding: 48px 10px;
    margin: 24px 0 ;
    font-size: 1.2rem;
    box-shadow: 0 0 23px -9px;
    font-weight: 400;
    border-radius: 8px;
    font-style: italic;
    quotes: none;
    &> q {
        /* filter: invert(1); */
        backdrop-filter: none;
        padding: 38px 20px;
        background: rgba(5, 116, 187, 0.8);
        color: white;
        box-shadow: 0 0 10px -6px #0574bb;
    }
}

.open-link{
    font-weight: 700;
}
.open-link{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    display: inline-block;
    position: relative;
    color: #7350ee;
    transition:300ms ease-in ;
    &:hover{
        font-size: 1.25rem;
    }&:hover > .cacher-o{
       padding: 5px;
    }
}
.cacher-o{
    position: absolute;
    top: 6px;
    left: -3px;
    font-size: 0;
    padding: 4px;
    background-color: white;
    border-radius: 50%;
}
.not-bold {
    font-weight: 500;
}

@media screen and (min-width:500px){
    
    .block-quote-main{
        margin: 24px ;
        &>q {
            /* filter: invert(1); */
            backdrop-filter: blur(2px);
            padding: 38px 20px;
            background: rgba(5,116,187,.1);
            color: white;
            box-shadow: 0 0 10px -6px rgb(5,116,187);
        }
    }
    
}
@media screen and (min-width:800px){
   
    .component-present{
        grid-gap: 2rem 1rem;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 'art-1 img-art-1'
        'art-2 art-2'
        'techno-fav techno-fav';
        padding-top: 130px;
        padding-bottom: 130px;
    }
    .component-present-inside-welcome{
        grid-area: art-1;
    }
    .image-art-1{
        grid-area: img-art-1;
        margin: auto 0;
    }
    
    .component-present-inside-présentation{
        grid-area: art-2;

    }
    
}
@media screen and (min-width:1600px) {
    .block-quote-main {
        
        padding: 48px 80px;
        margin: 24px 228px;
    }
}