.form-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;//4 test
    width: max-content;
    padding: 30px;
    margin: 129px auto 0;
}