.disabled {pointer-events: none}
// .page-projects{
//     margin-top: 178px;
// }
.test-count{
    font-weight: 900;
}
.content-all-projects{
    margin: 50px 20px;
    display: grid;
    grid-gap: 3rem;
}
.content-all-projects-1{
    grid-template-columns: 1fr;
    // align-items: center;
}
.lien-projet {
    margin: auto;
    width: fit-content;
}
// .lien-projet:focus{
//     transform: scale(1.1)
// }
.content-project{
    margin: auto;
    position: relative;
    max-width: 520px;
}
.projet{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color:var(--color-default);
    background: white;
    position: relative;
    box-shadow: 0 0 10px -6px black;
    transition: all .75s ease;
    max-width: 100%;
    padding: 0 1rem 2rem;
    border-radius: 30px;
    margin: auto 0;
    height: fit-content;
}

.projet:hover{
    filter: brightness(.5);
    background-color: var(--color-secondary);
    color: var(--color-primary)
}
//  .lien-projet:hover {
//     filter: brightness(.5);
//     background-color: var(--color-secondary);
//     color: var(--color-primary)
// }

.projet:hover + .interact-project{
    color: white
}

.header-projet {
    border-radius: 25px  27px 0 0;

    background: var(--color-secondary);
    color:var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 0;    
    font-size: 2.2rem;
}
.header-projet h4 {
    font-weight: 900
}
.img-projets{
    max-height: 250px;
    margin-top: 115px;
    max-width: 100%;
}
#img-projet-2 {
    background: white;
}
.desc-project{
    margin: 30px auto;
}
.footer-projet{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px
}
.interact-project{
    position: absolute;
    top: 287.43px;
    color: transparent;
}
.interact-project-txt {
    font-size: 3rem;
}
.test {
    color: red;
    /* position: relative; */
    padding: 150px 0 0;
}
/*@keyframes hoverProject{
    0%{
    }50%,100%{
        filter: brightness(.2);
        color: white;
        background: black;
    }
}*/

@media screen and (min-width:500px) {
    .projet{
        padding: 0 3rem 3rem;
        height: 575px;
    }
    
}
@media screen and (min-width: 754px){
    
    .interact-project-txt {
        font-size: 3.5rem;
    }
    
}
@media screen and (min-width:850px) {
    .page-projects{
        margin-top: 30px;
    }
    
}
@media screen and (min-width:754px) and (max-width:1323px){
    .content-all-projects{
        margin-left: 7% ;
        margin-right: 7% ;
        //grid-template-columns: 1fr 1fr;
    }
    .content-all-projects-3{
        grid-template-columns: 1fr 1fr;
    }
    .interact-project-txt {
        font-size: 4rem;
    }
}

@media screen and (min-width:1324px){
        
    .content-all-projects-2{
        margin-left: 15%;
        margin-right: 15%;
        grid-template-columns: 1fr 1fr;
    }
    .content-all-projects-3{
        margin-left: 5% ;
        margin-right: 5% ;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .projet{
         /* width: 400px; */
        height: 650px;
    }
    .interact-project-txt {
        font-size: 5rem;
    }
}