* {
  --color-primary: white;/**/
  --color-secondary: rgb(5, 116, 187);/**/
  --color-third: rgb(67, 70, 67);
  --color-default: rgb(0,0,0);
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-size: 2.5rem;
}
p{
  font-size: 1rem;
}
html,body {
  background-color: var(--color-primary);
}
main {
  position: relative;
}
a {
	text-decoration: none;
  color: var(--color-primary);
}
.little-text {
  font-weight: 300;
}
.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}
.en-cours-de-creation{
  background-color: var(--color-primary);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
  .en-cours-de-creation{
    margin: 8.5px auto 40px;
    animation: App-W-I-P infinite 1.5s ease-in-out
  }
}

.maintenance {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}
footer{
  background-color: var(--color-secondary);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  text-align: center;
}
@keyframes App-W-I-P {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0
  }
  100%{
    opacity: 1;
  }
}
@keyframes App-logo-spin {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(80px);
  }
}
