@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
.component-developpeur {
    position: relative;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: '. img . '
                        '. name .'
                        '. text .';
    margin-top: 60px;
    color: var(--color-secondary)
}
.component-developpeur img {
	grid-area: img;
	margin: auto;
	border-radius: 50%;
	background-color: var(--color-secondary);
	box-shadow: 0 0 10px -6px var(--color-secondary);
}
.component-developpeur h4{
    grid-area: name;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 4.5rem;
}
.component-developpeur p{
    grid-area: text;
    font-size: 1.5rem;
}
