nav {
    z-index: 3;
	background-color: var(--color-secondary);
    padding: 21px;
    border-bottom: solid 3px var(--color-third);
}
.nav-custom {
    display: none;
    z-index: 4;
    min-width: 150px;
    text-align: left;
	position: fixed;
    grid-template-columns: 1fr ;
	top: 0%;
	height: 75vh;
	top: 20.4%;
    box-shadow: black 0px 5px 10px -6px;	
}
.list-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.list-nav-content {
    font-size: 1.35rem;
    text-decoration: none;
   
}
.list-nav-content:hover{
    box-shadow: 0 0 0 0 #fff;	

    animation: 400ms ease-out pulse 400ms infinite;
}
nav.nav-custom .list-nav-content {
    padding: 10px 0;
}
.button-open-nav-mobile {
    position:fixed;
    z-index: 6;
    top: 114px;
    font-size: 1.5rem;
    left: 20px;
    border-radius: 10px;
}   
.display-nav-none {
    display: none;
}
.display-nav-block {
    display: block;
}

/* display laytop*/

@media screen and (min-width:850px){
    .button-open-nav-mobile{
        display: none;
    }
    nav.nav-custom {
        display: block;
        position: relative;
        left: 0;
        right: 0;
        height: fit-content;
        padding: 0 35px 20px;
    }
    
    .list-nav {
        min-height: 50px;
        text-align: center;
        padding: 0 30px;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-content: flex-start;

    }

}
@keyframes pulse {
    to{
        font-weight: 900;
        font-size: 1.6rem;
        box-shadow: 0 0 0 12px rgba(255,255,255,.1);
    }
}