.post-project-form-content {
    background: var(--color-secondary);
    color: var(--color-primary);
    padding: 30px 80px 15px;
    border-radius: 30px;
    min-height: 400px;
    margin: 30px 10%;
    display: grid;
    grid-template-rows: .5fr 5fr .5fr;
    grid-gap: 1rem
}
.header-project {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.post-project-form, .content-description-project{
    position: relative;
    display: grid;
    align-items: center;
    
}
.form-control {
    font-size: 1.2rem;
}
.post-project-form{
    grid-template-rows: 1fr 1fr 1fr 1fr 4fr 1fr 1fr ;
    grid-gap: 1rem;
    min-height: 382px;
}
.description-new-project {
    //overflow: scroll;
    height: 125px;
    resize: none;
}
.content-max-char {
    z-index: 3;
    position: absolute; right: 5px;bottom: 5px;
    display: flex;
}
.count-chars {
    color: green!important;
}
.count-chars-max {
    color: red!important;
}
.const-max-chars {
    color: var(--color-third)
}
.footer-project {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end
}
.avertisement{
    
}