.test-pc{
    margin-top: 80px;
}
.test-count{

}
.content-all-projects{
    display: grid;
}
.content-all-projects-1{
    margin: 50px auto 800px;
    grid-template-columns: 1fr;
    grid-gap: 2.5rem;
}
.content-all-projects-2{
    margin: 50px 20% 800px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.5rem;
}
.content-all-projects-3{
    margin: 50px 150px 800px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3.5rem;
}
.projet{
    position: relative;
    border-radius: 30px;
    margin: auto;
    max-width: 400px;
    width: 400px;
    height: 550px;
    background: white;
    padding: 0 3rem 3rem;
    box-shadow: 0 0 10px -6px black;
}
.header-projet {
    //box-shadow: 0 0 10px -6px black;
    border-radius: 25px  27px 0 0;

    background: var(--color-primary);
    color:var(--color-default);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 0;    
    font-size: 2.2rem;
}
.header-projet h4 {
    font-weight: 900
}
.projet img{
    margin-top: 115px;
    width: 100%;
}
