.disabled{pointer-events: none}
.page-projects{
    margin-top: 80px;
}

.test-count{
    font-weight: 900;
}
.content-all-projects{
    display: grid;
    grid-gap: 2rem;
}
.lien-projet:focus{
    transform: scale(1.1)
}
.content-project{
    position: relative;
}
.projet{
    color:var(--color-default);
    background: white;
    position: relative;
    box-shadow: 0 0 10px -6px black;
    transition: all .75s ease;
    max-width: 100%;
    padding: 0 3rem 3rem;
    border-radius: 30px;
    margin: auto 0;
    
    /* width: 400px; */
    height: 650px;
    
}

.projet:hover{
    filter: brightness(.5);
    background-color: var(--color-secondary);
    color: var(--color-primary)
}
 .lien-projet:hover {
    filter: brightness(.5);
    background-color: var(--color-secondary);
    color: var(--color-primary)
}

.projet:hover + .interact-project{
    color: white
}

.header-projet {
    border-radius: 25px  27px 0 0;

    background: var(--color-secondary);
    color:var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 0;    
    font-size: 2.2rem;
}
.header-projet h4 {
    font-weight: 900
}
.projet img{
    margin-top: 115px;
    width: 100%;
}
.desc-project{
    margin: 30px auto;
}
.footer-projet{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px
}
.interact-project{
    position: absolute;
    bottom: 245px;
    color: transparent;
}
.interact-project-txt {
    font-size: 5rem;
}
.test{
    color: red;
}
/*@keyframes hoverProject{
    0%{
    }50%,100%{
        filter: brightness(.2);
        color: white;
        background: black;
    }
}*/

@media screen and (min-width:754px) and (max-width:1123px){
    .content-all-projects-1{
        margin: 50px auto 800px;
        grid-template-columns: 1fr;
        grid-gap: 2.5rem;
    }
    .content-all-projects-2{
        margin: 50px 10% 800px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }
    .content-all-projects-3{
        margin: 50px 150px 800px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5rem;
    }
}

@media screen and (min-width:1124px){
        
    .content-all-projects-1{
        margin: 50px auto 800px;
        grid-template-columns: 1fr;
        grid-gap: 2.5rem;
    }
    .content-all-projects-2{
        margin: 50px 20% 800px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }
    .content-all-projects-3{
        margin: 50px 150px 800px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5rem;
    }
    .projet{
         /* width: 400px; */
        height: 650px;
    }
}