#content-btn-change-theme {
  position:relative;
  
}
#back-btn-change-theme{
  box-shadow:0 0 10px -2px black;
  position:fixed;
  right:20px;
  top: 20px;
  width:70px;
  height:50px;
  background-color:#fff;
  border-radius:15px;
  z-index: 4;
}
#encoche-btn-change-theme {
  position:relative;
  width:77%;
  height:70%;
  background-color: black;
  margin:9px  auto;
  border-radius: 20px;
  
}
#button-change-theme {
  position:absolute;
  top:3px;
  height:30px;
  width:30px;
  border-radius: 30px;
}
.toRight {
    left: initial;
    right:0;
    
}
.toLeft {
  left:0;
  animation: 500ms toLeft ease-in-out;
  
}
@keyframes toLeft {
  0%{
    left: initial;
  }
  100%{
    left:0;
    right: initial;
  }
}